extends ../../layouts/default.pug

block main
    .container-fluid
    .row

      // Main Content
    .col-sm-9.col-md-10.main
        h1 Welcome to the Music Admin Dashboard

        // Colorful Greeting
        .alert.alert-info(role="alert")
            | Hello there! This is your music admin dashboard. Manage your music collection with ease.

        // Bootstrap JS and Popper.js (required for Bootstrap)
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")

