.slider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard
            li 
                a(href=`${prefixAdmin}/music`) Music
            li 
                a(href=`${prefixAdmin}/artist`) Artist
            li 
                a(href=`${prefixAdmin}/album`) Album
            